.homepage{
    padding:0px;
}
.spendinglists{
    margin: 0px auto;
    margin-top: 11px;
    margin-bottom: 9px;
    padding: 13px;
    margin-left: 13px;
    margin-right: 13px;
    background-color: #29242405;

}
.list-group-item {
    background-color: #29242405;
    border: 1px solid rgba(0,0,0,.125);
}
.footerpart{
    text-align: center;
}
.btn-income{
    margin-right:10px;
}
.listred{
    color:red;
    font-weight: bold;
}
.listgreen{
    color:green;
    font-weight: bold;
}